/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #009487;
}
#container{
    width: 80%;
    height: 95vh;
    margin: 2.5vh auto;
    display: flex;
}

/* LEFT CONTENT */
#left-content{
    width: 40%;
    height: 100%;
    background-color: blue;
}
header{
    height: 7%;
    padding: 5px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}
.left-header{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.right-header{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #b1b1b1;
}
.right-header i{
    margin: 0 7px;
}
header img{
    width: 30px;
    border-radius: 50%;
}
#call-to-action{
    height: 8%;
    background-color: #8edafb;
}
#search-bar{
    height: 5%;
    background-color: #fff;
    padding: 5px;
}
#contact-area{
    height: 80%;
    background-color: white;
}









#right-content{
    width: 60%;
    height: 100%;
    background-color: violet;
}